Repository agglayer/interop, changes with the labels that .github/labeler.yml gives for each.
All labels: unified-bridge, protobuf, agglayer-primitives, agglayer-interop, agglayer-interop-grpc

chore: adding pr review reminder
  .github/workflows/pr-review-reminder.yml
Labels: none

chore: add permissions to PR review reminder workflow
  .github/workflows/pr-review-reminder.yml
Labels: none

refactor: intorduce custom `agglayer_primitives::Address`
  Cargo.lock
  Cargo.toml
  crates/agglayer-interop-grpc-types/src/compat/v1/address.rs
  crates/agglayer-primitives/Cargo.toml
  crates/agglayer-primitives/src/address.rs
  crates/agglayer-primitives/src/lib.rs
  crates/agglayer-primitives/src/signature.rs
  crates/unified-bridge/src/token_info.rs
Labels: unified-bridge, agglayer-primitives, agglayer-interop, agglayer-interop-grpc

chore: give `serde` names to some types
  crates/agglayer-primitives/src/address.rs
  crates/agglayer-primitives/src/digest.rs
  crates/unified-bridge/src/imported_bridge_exit.rs
Labels: unified-bridge, agglayer-primitives

chore: adding pr review reminder (#49)
  .github/workflows/pr-review-reminder.yml
Labels: none

chore: review
  crates/agglayer-primitives/src/address.rs
  crates/agglayer-primitives/src/signature.rs
  crates/unified-bridge/src/local_exit_tree/mod.rs
Labels: unified-bridge, agglayer-primitives

refactor: remove `Default` from `Address`
  crates/agglayer-primitives/src/address.rs
  crates/unified-bridge/src/local_exit_tree/mod.rs
Labels: unified-bridge, agglayer-primitives

chore: fmt
  crates/agglayer-primitives/src/signature.rs
Labels: agglayer-primitives

chore: fix pr-reminder-workflow parsing
  .github/workflows/pr-review-reminder.yml
Labels: none

chore: fix pr-reminder-workflow parsing (#51)
  .github/workflows/pr-review-reminder.yml
Labels: none

chore: remove ethers (#45)
  Cargo.lock
  Cargo.toml
  crates/agglayer-evm-client/Cargo.toml
  crates/agglayer-interop-grpc-types/Cargo.toml
  crates/agglayer-interop-grpc-types/src/compat/v1/aggchain_data.rs
  crates/agglayer-interop-types/Cargo.toml
  crates/unified-bridge/Cargo.toml
Labels: unified-bridge, agglayer-interop, agglayer-interop-grpc

chore: run PR review reminder only on weekdays
  .github/workflows/pr-review-reminder.yml
Labels: none

chore: run PR review reminder only on weekdays (#52)
  .github/workflows/pr-review-reminder.yml
Labels: none

chore: adjust input pr review reminder
  .github/workflows/pr-review-reminder.yml
Labels: none

chore: adjust input pr review reminder (#53)
  .github/workflows/pr-review-reminder.yml
Labels: none

.github/labeler.yml:

bug:
  - head-branch: ["^fix"]

feature:
  - head-branch: ["^feature"]

unified-bridge:
  - changed-files:
      - any-glob-to-any-file:
          - crates/unified-bridge/**/*.rs
          - crates/unified-bridge/**/*.toml

protobuf:
  - changed-files:
      - any-glob-to-any-file:
          - proto/**/*.proto

agglayer-primitives:
  - changed-files:
      - any-glob-to-any-file:
          - crates/agglayer-primitives/**/*.rs
          - crates/agglayer-primitives/**/*.toml

agglayer-interop:
  - changed-files:
      - any-glob-to-any-file:
          - crates/agglayer-interop/**/*.rs
          - crates/agglayer-interop/**/*.toml
          - crates/agglayer-interop-types/**/*.rs
          - crates/agglayer-interop-types/**/*.toml
          - crates/agglayer-interop-grpc-types/**/*.rs
          - crates/agglayer-interop-grpc-types/**/*.toml

agglayer-interop-grpc:
  - changed-files:
      - any-glob-to-any-file:
          - crates/agglayer-interop-grpc-types/**/*.rs
          - crates/agglayer-interop-grpc-types/**/*.toml
