Repository agglayer/interop, pull requests merged in 2025-08, with the labels that each got.

#81 build(deps): update `slab`
  Cargo.lock
Labels: dependencies

#73 refactor: make empty_hash_at_height const
  crates/agglayer-tries/src/proof.rs
  crates/agglayer-tries/src/smt.rs
  crates/agglayer-tries/src/utils.rs
  crates/unified-bridge/src/local_exit_tree/mod.rs
Labels: unified-bridge

#83 feat: adding proto multisig definition
  crates/agglayer-interop-grpc-types/Cargo.toml
  crates/agglayer-interop-grpc-types/src/compat/v1/aggchain_data.rs
  crates/agglayer-interop-grpc-types/src/compat/v1/aggchain_data/types_to_v1.rs
  crates/agglayer-interop-grpc-types/src/compat/v1/aggchain_data/v1_to_types.rs
  crates/agglayer-interop-grpc-types/src/compat/v1/error.rs
  crates/agglayer-interop-grpc-types/src/compat/v1/tests.rs
  crates/agglayer-interop-grpc-types/src/generated/agglayer.interop.types.v1.rs
  crates/agglayer-interop-grpc-types/src/generated/agglayer.interop.types.v1.serde.rs
  crates/agglayer-interop-types/src/aggchain_proof.rs
  proto/agglayer/interop/types/v1/aggchain.proto
Labels: protobuf, agglayer-interop, agglayer-interop-grpc
