Repository agglayer/interop, pull requests merged in 2025-09, with the labels that each got.

#103 feat: add vkey hashing utilities
  crates/agglayer-primitives/Cargo.toml
  crates/agglayer-primitives/src/lib.rs
  crates/agglayer-primitives/src/vkey_hash.rs
Labels: agglayer-primitives

#105 test: add `Eq`, `PartialEq` to interop types
  crates/agglayer-interop-types/src/aggchain_proof.rs
  crates/unified-bridge/src/aggchain_proof.rs
Labels: unified-bridge, agglayer-interop

#111 fix: json serialization of `AggchainData`
  Cargo.lock
  crates/agglayer-interop-grpc-types/src/compat/v1/aggchain_data/types_to_v1.rs
  crates/agglayer-interop-grpc-types/src/compat/v1/aggchain_data/v1_to_types.rs
  crates/agglayer-interop-grpc-types/src/compat/v1/tests.rs
  crates/agglayer-interop-types/Cargo.toml
  crates/agglayer-interop-types/src/aggchain_proof/mod.rs
  crates/agglayer-interop-types/src/aggchain_proof/snapshots/agglayer_interop_types__aggchain_proof__test__ecdsa.snap
  crates/agglayer-interop-types/src/aggchain_proof/snapshots/agglayer_interop_types__aggchain_proof__test__multisig-empty.snap
  crates/agglayer-interop-types/src/aggchain_proof/snapshots/agglayer_interop_types__aggchain_proof__test__multisig-none.snap
  crates/agglayer-interop-types/src/aggchain_proof/snapshots/agglayer_interop_types__aggchain_proof__test__multisig-onesig.snap
  crates/agglayer-interop-types/src/aggchain_proof/test.rs
Labels: bug, agglayer-interop, agglayer-interop-grpc
